html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

@media (max-width: 720px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  line-height: 1.5;
  color: #7c8185;
  background: #f5f7f8;
}

input,
textarea,
select,
button {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

::selection {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 123, 0);
}

img::selection {
  background-color: transparent;
}
